<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<!-- <meta name="robots" content="noindex,nofollow" /> <!-- TODO remove for final deployment -->
<style>
     /* Links */
     a:hover {
         color: #8fd4c1;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: white;
          background-color: #2c4640;
     }
     blockquote p {
	 margin: 2em;
     }
     a.btn:hover {
          background-color: #8fd4c1;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #8fd4c1;
     }
     a.fn-item:hover {
          color: #c2a244;
     }

     /* Content / Sections */
     .post-holder.odd {
         background: #87ac97;
          color: white;
     }
     .post-holder {
          /* background: #f2efe8; */
	 background: #fff;
     }
     body {
         color: #2c4640;
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #4e6a55;
     }
</style>

<!--
    ORIGINAL

     .post-holder.odd {
          background: #B80135;
          color: white;
     }

-->

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
