
<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<!-- <meta name="robots" content="noindex,nofollow" /> <!-- TODO remove for final deployment -->
<link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Yantramanav">
<style>
     /* Links */

  @font-face {
      font-family: "ActayBold";
      src: url('fonts/font.woff2') format('woff2'), url('fonts/font.woff') format('woff');
  }

     #site-head {
         background-size: cover!important;
	 background-repeat: no-repeat!important;
	 background-position: center;
	 /* background-position: 0% 35%; */
	 clear: left;
	 background: #fff;
     }

     #site-head::before {
         background-image: url('images/Meer-Lucht_liggend-verloop_RGB.png');
	 background-repeat: no-repeat;
	 background-size: auto 75%;
	 background-position: 5% 50%;
	 aspect-ratio: 1;
	 background-color: #fff;
	 display: inline-block;
	 position: absolute;
	 left: 0px;
	 top: 0px;
	 content: "";
	 width: 100vmax;
	 height: 10vmax;
     }

     .blog-description {
	 font-family: Yantramanav;
     }

     a:hover {
         color: #8fd4c1;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: white;
         background-color: #2c4640;
	 font-family: Yantramanav;
     }

     blockquote p {
	 margin-left: 4em;
	 margin-right: 4em;
	 margin-top: 0.5em;
	 margin-bottom: 0.5em;
	 font-style: italic;
	 text-align: center;
     }

     @media screen and (min-width: 1100px) {
	 blockquote {
	     position: absolute;
	     float: right;
	     left: 105%;
	     top: 35%;
	     max-width: 130%;
	     margin: 0;
	 }
	 blockquote p {
	     margin: 0!important;
	     width: 200px;
	     position: absolute;
	 }
     }

     article[id=""] section blockquote {
	 float: none;
	 position: relative;
	 left: 0%;
	 top: 50%;
	 max-width: 100%;
     }


     article[id=""] section blockquote p {
	 margin: 0;
	 width: 80%;
	 left: 10%;
	 max-width: 100%;
	 position: relative;
     }

     article:not([id]) section blockquote {
	 float: none;
	 position: relative;
	 left: 0%;
	 top: 50%;
	 max-width: 100%;
     }


     article:not([id]) section blockquote p {
	 margin: 0;
	 width: 80%;
	 left: 10%;
	 max-width: 100%;
	 position: relative;
     }



     a.btn:hover {
          background-color: #8fd4c1;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #8fd4c1;
     }
     a.fn-item:hover {
          color: #c2a244;
     }

     /* Content / Sections */
     .post-holder.odd {
         background: #87ac97;
          color: white;
     }
     .post-holder {
          /* background: #f2efe8; */
	 background: #fff;
     }
     body {
         color: #2c4640;
	 font-family: "Yantramanav";
	 font-weight: light;
	 overflow-x: hidden;
     }
     h1, h2 {
	 font-family: "ActayBold";
     }


     h3, h4, h5 {
	 font-family: "Yantramanav";
	 font-weight: bold;
     }

     /* img[alt="Mist"] { */
     /* 	 position: absolute;*/
     /* 	 left: 0px; */
     /* 	 margin: 0; */
     /* 	 width: 100vmax;*/
     /*  } */

     @media screen and (max-width: 1130px) {

	 #aandacht-voor-jou::before {

         background-image: url('images/jisca-lucia2.jpg');
	 background-size: cover;
	 background-position-x: center;
	 background-position-y: center;
	 background-repeat: no-repeat;
	 /* background-size: auto 75%; */
	 /* aspect-ratio: 1; */
	 display: block;
	 position: absolute;
	 left: -13vmax;
	 top: -20px;
	 content: "";
	 width: 107vmax;
	 height: 50vmax;
       }
     }

 @media screen and (min-width: 1130px) {

	 #aandacht-voor-jou::before {

         background-image: url('images/jisca-lucia2.jpg');

	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position-x: center;
     background-position-y: center;
	 /* background-size: auto 75%; */
	 /* aspect-ratio: 1; */
	 display: block;
	 position: absolute;
	 left: -50vmax;
	 top: -0px;
	 content: "";
	 width: 130vmax;
	 height: 50vmax;
       }
     }




 #aandacht-voor-jou .post-header {
	 padding-top: 50vmax;
     }

     /* #aandacht-voor-jou .post-content { */
     /* 	 padding-top: 35vmax; */
     /* } */


     img[alt="Hester"] {
	 object-fit: cover;
	 border-radius: 50%;
	 width: 200px;
	 height: 200px;
	 aspect-ratio: 1;
     }

     @media screen and (min-width: 1100px) {
	 img[alt="Hester"] {
	     float: left;
             position: absolute;
	     left: -35%;
	 }
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #4e6a55;
     }
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=nl&theme=minimal&customize=1&tracking=1&always=1"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R7CP8KHQSL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-R7CP8KHQSL');
</script>
<!--
    ORIGINAL

     .post-holder.odd {
          background: #B80135;
          color: white;
     }

-->

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="64x64"
  href="{{ "images/favicon.png" | absURL }}"
/>
<!-- <link -->
<!--   rel="icon" -->
<!--   type="image/png" -->
<!--   sizes="32x32" -->
<!--   href="{{ "images/favicon-32x32.png" | absURL }}" -->
<!-- /> -->
<!-- <link -->
<!--   rel="icon" -->
<!--   type="image/png" -->
<!--   sizes="16x16" -->
<!--   href="{{ "images/favicon-16x16.png" | absURL }}" -->
<!-- /> -->
